@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select,
textarea,
button {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  box-sizing: border-box;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-neutral-100 rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
